language: node_js

node_js:
  - 0.10
  - 0.12
  - iojs

# script:
  # - npm run outdated # list outdated modules (won't fail build)
  # - npm run audit # validate against nodesecurity.io db, but don't fail the build.
